.resetPasswordForm {
  background-color: #1a1a2e;
  padding: 40px;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  color: white;
}

.title {
  font-variation-settings: 'wdth' 100, 'wght' 630, 'CNTR' 40;
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  font-variation-settings: 'wdth' 100, 'wght' 500, 'CNTR' 40;
  margin: 20px 0px;
  font-size: 16px;
  color: #aaa;
}

.link {
  font-variation-settings: 'wdth' 100, 'wght' 500, 'CNTR' 40;
  color: #8a6df1;
  text-decoration: none;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #2b2b4a;
  color: white;
}

.button {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #6d6af1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 10px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #aaa;
}

.socialButtons {
  display: flex;
  justify-content: space-between;
}

.socialButton {
  background-color: #333;
  padding: 10px;
  width: 48%;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.error {
  margin-right: 15px;
  font-size: 14px;
  margin-top: 10px;
  font-variation-settings: 'wdth' 95, 'wght' 500, 'CNTR' 40;
  color: rgb(255, 47, 47);
}