.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 600, 'DOTS' 0;
  text-align: center;
}

.title {
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 700, 'DOTS' 0;
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 50px;
}

.content {
  display: flex;
  gap: 40px;
}

.contactForm {
  text-align: right;
  height: max-content;
  flex: 1;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.contactForm h2 {
  text-align: center;
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 600, 'DOTS' 0;
  margin-bottom: 20px;
}

.form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 10px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 10px;
}

.row div {
  width: 100%;
}

.input,
.select,
.textarea {
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 500, 'DOTS' 0;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: rgb(87, 168, 87);
  box-shadow: 0 0 5px rgba(87, 168, 87, 0.5);
}

.textarea {
  height: 150px;
  resize: vertical;
}

.submitButton {
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 500, 'DOTS' 0;
  background-color: #57a857;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #3e773e;
}

.supportInfo > div {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.supportInfo h2 {
  color: #00092d;
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 700, 'DOTS' 0;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.supportInfo p {
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 600, 'DOTS' 0;
  font-size: 16px;
  color: #424242;
  margin-bottom: 5px;
}

.supportInfo a {
  font-size: 16px;
  font-family: var(--font-yekanbakh);
  font-variation-settings: 'wdth' 100, 'wght' 400, 'DOTS' 0;
  color: #57a857;
  text-decoration: none;
}

.supportInfo a:hover {
  color: #3e773e;
  font-variation-settings: 'wdth' 100, 'wght' 700, 'DOTS' 0;
}

/* استایل‌های ریسپانسیو */
@media (max-width: 768px) {
  .supportInfo > div {
    padding: 20px;
  }

  .content {
    flex-direction: column;
    gap: 50px;
  }

  .contactForm,
  .supportInfo {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }
}
