.formWrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
}

.formWrapper > h2 {
  font-size: 18px;
}

.formContainer {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formContainer > label {
  font-size: 15px;
  font-variation-settings: 'wdth' 98, 'wght' 500, 'DOTS' 1;
}

.formInput {
  margin-top: 8px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: #1c7d7f;
}

.formSelect {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.formError {
  font-size: 12px;
  color: #e74c3c;
  margin-top: 4px;
}

.serverError {
  font-size: 14px;
  color: #fff;
  background-color: #e74c3c;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

.formFile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.formFile input[type='file'] {
  display: none;
}

.formFile label {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formFile label:hover {
  background-color: #0056b3;
}

.formPasswordHint {
  font-size: 12px;
  color: #e74c3c;
  margin-top: 4px;
}

.phoneInput {
  display: flex;
  gap: 8px;
}

.phoneSelect {
  width: 80px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.phoneNumber {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.formButton {
  margin-top: 10px;
  width: 100%;
  background-color: #1c7d7f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #208d8f;
}

.formLtr {
  direction: ltr;
}

.details {
  width: 100%;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 16px;
  }

  .formInput,
  .formSelect {
    font-size: 14px;
  }

  .formButton {
    font-size: 14px;
  }
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.imageWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.preview {
  border: 1px solid #ddd;
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.deleteButton {
  position: relative;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formStatusButtonGroup {
  display: flex;
  gap: 10px;
  width: 100%;
}

.buttonStatus {
  margin-top: 10px;
  background-color: #c2c2c2;
  color: rgb(65, 65, 65);
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonStatusActive {
  margin-top: 10px;
  background-color: #1c7d7f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imagePreviewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.imagePreviewWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.deleteButton,
.moveButton {
  background-color: rgba(255, 255, 255, 0.932);
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}


.deleteButton:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.moveButton {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 1;
}

.moveButton:hover {
  background-color: #1c7d7f;
  color: white;
}

.formFile input[type='file'] {
  display: none;
}

.formFile label {
  background-color: #1c7d7f;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formFile label:hover {
  background-color: #208d8f;
}
