:root {
  --font-yekanBakh: var(--font-yekanBakh);
  --font-kahroba: var(--font-kahroba);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

body {
  font-family: var(--font-yekanBakh), sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 800, 'DOTS' 1, "CNTR" 40;
  color: black;
  background: linear-gradient(104.99deg, rgba(255, 255, 255, 0.04) 0%, rgba(0, 32, 158, 0.2) 100%),
    linear-gradient(104.58deg, #f0f0f0 0%, #e9f4ff 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none; /* برای مرورگرهای وب‌کیت */
  user-drag: none;
  user-select: none; /* غیرفعال کردن انتخاب متن */
}