/* src/components/admin/vehicles/VehiclesTable.module.css */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  border-radius: 8px;
}

.headerRow {
  display: flex;
  background-color: #2a3138;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.headerCell {
  flex: 1;
  text-align: center;
  color: #d1d1d1; /* رنگ کم‌رنگ‌تر از مشکی */
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.row:hover {
  background-color: #e6e6e6;
}

.cell {
  flex: 1;
  text-align: center;
  color: #2a3138;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* src/components/admin/vehicles/VehiclesTable.module.css */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.popupActions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.buttonConfirm {
  width: 50%;
  background-color: #28a745;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonCancel {
  width: 50%;
  background-color: #dc3545;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
