/* src/app/admin/page.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f8fa;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-variation-settings: 'wdth' 98, 'wght' 700, 'DOTS' 1;
  font-size: 25px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  font-variation-settings: 'wdth' 98, 'wght' 600, 'DOTS' 1;
  background-color: #1c7d7f;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;

}

.container {
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.balanceBox {
  margin: 20px;
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header {
    margin: 20px;
    border-radius: 10px;
    border-bottom: none;
  }
  
  .title {
    font-variation-settings: 'wdth' 98, 'wght' 700, 'DOTS' 1;
    font-size: 24px;
  }

  .balanceBox {
    margin: 0px 20px 20px 20px;
    box-shadow: none;
    overflow-x: scroll;
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
}