/* src/app/admin/page.module.css */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.title {
  font-variation-settings: 'wdth' 98, 'wght' 700, 'DOTS' 1;
}

.buttons {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  font-variation-settings: 'wdth' 98, 'wght' 600, 'DOTS' 1;
  background-color: rgb(88, 184, 88);
  color: #fff;
  border-radius: 10px;
  padding: 5px 20px;

}

.container {
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.balanceBox {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.balanceAmount {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
