/* src/components/admin/sidebar/Sidebar.module.css */

.sidebar {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  width: 280px;
  background-color: #f7f8fa;
  padding: 20px;
  height: 100vh;
  position: relative;
  overflow-x: scroll;
  direction: ltr;
}

.sidebar > * {
  direction: rtl;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);
  padding-bottom: 20px;
}

.profileImage {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.profileDetails {
  border-right: 2px solid #0000004d;
  margin-right: 10px;
  padding-right: 10px;
}

.profileDetails h2 {
  font-size: 16px;
  margin: 0;
}

.profileDetails p {
  font-size: 14px;
  color: #888;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  font-variation-settings: 'wdth' 100, 'wght' 630, 'DOTS' 0;
  letter-spacing: -0.5px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 15px 15px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.menuItem img{
  filter: contrast(2);
  margin-left: 8px;
  transform: scale(0.85);
}


.menuItem:hover:not(.active) {
  background-color: #ececec;
}

.active {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #212b34; /* رنگ زمینه برای لینک فعال */
  color: rgb(242, 242, 242); /* رنگ متن برای لینک فعال */
}

.active img{
  filter: brightness(0) contrast(2) invert(1) ;
  margin-left: 8px;
  transform: scale(0.85);
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 10px 20px 0px 0px;
}

.submenuItem {
  font-variation-settings: 'wdth' 100, 'wght' 630, 'DOTS' 0;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.submenuItem:hover:not(.activeSubmenu) {
  background-color: #ececec;
}

.activeSubmenu {
  background-color: #212b34;
  color: rgb(242, 242, 242);
}

.activeSubmenu img{
  filter: brightness(0) contrast(2) invert(1) ;
  transform: scale(0.85);
}


.submenuToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submenuIcon {
  position: absolute;
  left: 0px;
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .sidebar {
    width: 100px;
    background-color: #f7f8fa;
    padding: 2px;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  /* .sidebar { */
    /* background: red; */
  /* } */

  .profileDetails {display: block;}

  .profile {
    display: block;
    margin-bottom: 30px;
  }

  .profileDetails {
    border-right: unset;
    margin-right: 0px;
    padding-right: 5px;
  }
}
